* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  background-color: black;
}

nav {
  width: 95%;
  margin: auto;
}

header .navbar-light .navbar-brand {
  color: white;
}

.navbar-light .navbar-nav .nav-item .nav-link {
  color: white;
}

.collapse {
  display: flex;
  justify-content: flex-end;
}

#getpageDone {
  background-color: #00798A;
  width: 100%;
  min-height: 600px;
  text-align: center;
}
#getpageDone .content {
  padding: 20px;
}
#getpageDone .content h1 {
  color: white;
  font-size: 70px;
  padding: 20px;
}
#getpageDone .content h3 {
  color: white;
  padding: 20px;
}
#getpageDone .content h5 {
  color: white;
  padding: 20px;
}
#getpageDone button {
  width: 250px;
  min-height: 45px;
  background-color: #D2322D;
  color: white;
  border: 1px;
}

#ourServices {
  background-image: url(/assets/img/sativa.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: end;
  max-width: 100%;
  min-height: 700px;
  padding: 20px;
}
#ourServices .lorem {
  min-height: 200px;
}
#ourServices .ourServices h1 {
  padding: 20px;
  min-height: 80px;
  color: #00798A;
}

.quiqueMenu {
  text-align: center;
  padding: 20px;
  width: 100%;
  min-height: 400px;
  background-color: #00798A;
  margin-bottom: 20px;
}
.quiqueMenu i {
  font-size: 50px;
  min-height: 100px;
  color: white;
}
.quiqueMenu p {
  min-height: 120px;
  color: white;
}
.quiqueMenu h3 {
  color: white;
}

.loremImpus {
  width: 100%;
  min-height: 200px;
}

#featuredStreet {
  text-align: center;
  max-width: 100%;
  min-height: 200px;
  background-color: #00798A;
  color: white;
  padding-top: 20px;
}

.manyOther h1 {
  font-size: 60px;
  padding: 20px;
}

#ourPlans {
  background-image: url(/assets/img/sativa.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  min-height: 700px;
  padding: 20px;
}
#ourPlans h1 {
  padding: 20px;
  color: #00798A;
}
#ourPlans .loremPlans h3 {
  padding: 20px;
}
#ourPlans .loremPlans p {
  min-height: 150px;
}
#ourPlans .basicPlan {
  background-color: #D8D8D8;
  text-align: center;
  padding: 20px;
}
#ourPlans .basicPlan h4 {
  background-color: black;
  color: white;
}
#ourPlans .basicPlan p {
  color: #858585;
  font-size: 30px;
}
#ourPlans .basicPlan h1 {
  background-color: #1F8A63;
  color: white;
  font-size: 50px;
}
#ourPlans .basicPlan h5 {
  background-color: #D9534F;
  color: white;
  min-height: 40px;
  padding: 10px;
  margin-top: 20px;
}

#projects {
  text-align: center;
  max-width: 100%;
  min-height: 200px;
  background-color: #00798A;
  color: white;
  padding-top: 20px;
}
#projects .projects h1 {
  font-size: 60px;
}

#contactUse {
  background-image: url(/assets/img/sativa.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  min-height: 700px;
  padding: 20px;
}
#contactUse h1 {
  padding: 20px;
  color: #00798A;
}
#contactUse h3 {
  padding: 20px;
}
#contactUse textarea {
  margin-top: 20px;
  margin-bottom: 20px;
}
#contactUse input {
  width: 46%;
}
#contactUse .inputText {
  margin-right: 20px;
}
#contactUse button {
  background-color: #428BCA;
  padding: 0 20px;
  border: 0;
}
#contactUse p {
  margin: 20px 0px;
}

footer {
  width: 100%;
  background-color: black;
  color: white;
}
footer .allRight {
  text-align: end;
  padding: 20px 0;
}